:root {
  --color-sem-normal:#b3b3ff;
  --color-sem-yellow: #fbb831;
  --color-sem-green: #33cc33;
  --color-sem-red:#ff6699;
  --color-fase-detenido:#ff6699;
  --color-fase-enproceso:#33cc33;
  --color-fase-propuesta:#acac39;
  --color-fase-sowcontrato:darkgreen;
  --color-fase-cerrado:darkgray;
  --color-fase-lead:lightgray;
  --color-fase-facturado:lightblue;
  --color-fase-leadsincont:#7d3636;
  --color-fase-propnoacep:black;
  --color-fase-cierre-int:#9966ff;

}
.enproceso{
    background-color: var(--color-fase-enproceso);
    color:white;
}
.prop-activa{
  background-color: var(--color-fase-propuesta);
  color:white;
}
.proycerrado{
  background-color: var(--color-fase-cerrado);
  color:white;
}
.cierre-interno{
  background-color: var(--color-fase-cierre-int);
  color:white;
}
.prop-no-acep{
  background-color: var(--color-fase-propnoacep);
  color:white;
}
.sow-contrato{
  background-color: var(--color-fase-sowcontrato);
  color:white;
}
.detenido{
  background-color: var(--color-fase-detenido);
  color:white;
}
.lead{
  background-color: var(--color-fase-lead);
  color:white;
}
.lead-sin{
  background-color: var(--color-fase-leadsincont);
  color:white;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.sesiones{
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 1020px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
  .alarma {
    border-radius: 50%;
    background: red;
    padding: 5px; 
    color:white;
    font-size:10pt;
    text-align:center;
    width: 10px;
    height: 10px;  
  }
  .session {
    border-radius: 25%;
    background: red;
    padding: 5px; 
    color:white;
    font-size:10pt;
    text-align:center;
    width: 30px;
    height: 10px;  
  }
    a:link {
      color: white;
    }
    
    /* visited link */
    a:visited {
      color: green;
    }
    
    /* mouse over link */
    a:hover {
      color: silver;
    }
    
    /* selected link */
    a:active {
      color: blue;
    }
  
  header {
      background:#333;
      color:#eee;
      width:100%;
  }
  
  input#abrir-cerrar {
      visibility:hidden;
      position: absolute;
      top: -9999px;
  }
  .rotar {
    width:150px;
    
  }
  
  label[for="abrir-cerrar"] {
      cursor:pointer;
      padding: 1rem;
      background-color:#333;
      color:#fff;
      display:inline-block;
      width:200%;
  
  }
  
  .cerrar {
      display:none;
  }
  
  #sidebar {
      width:206px;
  }
  #team {
    width:0;
}
  #contenido {
      margin-left:0;
  }
  #container-project{
      margin-left:0;
  }
  
  input#abrir-cerrar:checked ~ #sidebar {
      width:206px;
  }
  input#abrir-cerrar:checked ~ #team {
    width:198px;
}
  input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
      margin-left:206px;
      transition: margin-left .4s;
  }
  input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #container-project {
      margin-left:206px;
      transition: margin-left .4s;
  }
  input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #container-people {
    margin-left:206px;
    transition: margin-left .4s;
}
  input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
      display:inline;
  }
  
  input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
      display:none;
  }
  .name{
      width: 110px;
  }
  .sidebar {
      position: fixed;
      height: 100%;
      width: 0;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: #00324b;
      overflow-x: hidden;
      transition: 0.4s;
      padding: 1rem 0;    
      box-sizing:border-box;
      overflow: visible;
  }
  
  .sidebar .boton-cerrar {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 2rem;
      display: block;
      padding: 0;
      line-height: 1.5rem;
      margin: 0;
      height: 32px;
      width: 32px;
      text-align: center;
      vertical-align: top;
  }
  
  .sidebar ul, .sidebar li{
      margin:206px;
      padding:0;
      list-style:none inside;
  }
  
  
  h1 {
      color:#f90;
      font-size:180%;
      font-weight:normal;
  }
  #contenido {
    margin-left:206px;
      transition: margin-left .4s;
      padding: 1rem;
  }
  #container-p{
    margin-left:206px;
      transition: margin-left .4s;
      padding: 10px;
  }
  .abrir-cerrar {
      color: #2E88C7;
      font-size:1rem;   
  }
  button{
      background-color: #9999ff;
      color:white;
  }
  .wait{
    background-color: #9999ff;
  }
  .btn_lite{
      background-color: #e0e0fa;
      color:black;
  }
  button:hover, button:focus {
    background-color: #6666ff;
  }
  .btn_lite:hover, .btn_lite:focus {
    background-color: #6666ff;
  }
  .head-cell{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    background-color: #9999ff;
    color:white;
    text-align: center;
    font-weight: bold;
  }
  .head-cell-left{
    background-color: #9999ff;
    color:white;
    text-align: left;
    font-weight: bold;
  }
  .cell{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    background-color: #9999ff;
      color:white;
      border: 1px solid gray;
      border-radius: 10px;
      margin:10px;
      height:50px;
      width:120px;
  }
  .cell1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    background-color: #f1f1f9;
      color:black;
      border: 1px solid gray;
      border-radius: 10px;
      margin:10px;
      height:50px;
      width:120px;
  }
  .plan{
    font-size: 10pt;
    padding:3px;
    color:green;
  }
  .real{
    font-size: 10pt;
    font-weight: bold;
    padding:3px;
    color:white;
  }
  .horas-plan{
    padding-left:3px;padding-right: 3px;
    color:white;background-color:LightSlateGrey;font-weight:bold;
  }
  .horas-real{  
    padding-left:3px;  padding-right: 3PX;
    color:black;background-color:Gainsboro;font-weight:bold;
  }
  body{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 9pt;
      background-color: #ffffff;
      border:0;
      margin:0;
  }
  .totales{
      background-color: #cccccc;
      vertical-align: top;
      padding: 6px;
  }
  input{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 9pt;  
  }
  .cardmini{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 9pt;
      width: 98%;
  }
  .bad{
      background-color: rgb(248, 160, 160);
      color: white;
      border: 1px solid white;
  }
  span.nb{
      display:inline-block;
      width:110px;
  }
  th{
      font-family: Arial, Helvetica, sans-serif;
      color:white;
      font-size: 12pt;
  }
  input{
      border:1px solid lightgray;
  }
  input.dedi{
      display:inline-block;
      width:40px;
  }
  .good{
      background-color: #b3e6b3;
      color: gray;
      border: 1px solid white;
      display:none;
  }
  .mes{
      background-color: #cccccc;
      height: 100%;
      padding-top: 2px;
      padding-bottom: 10px;
  }
  .curr-mes{
    background-color: LightSteelBlue;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 10px;
  }
  .future-mes{
    background-color: HoneyDew;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 10px;
  }
  #team{
    background-color: black;
    height: 100%;
    padding: 3px;
    width: 200px;
    margin: 2pxpx;
  }
  .teamWrapper{
      display: none;
  }
  .sidebar::-webkit-scrollbar {
      display: none;  /* Ocultar scroll */
  }
  .card{
      border:1px solid lightgray;
      display: block;
      margin-top: 4px;
      margin-bottom: 4px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 2px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 8pt;
      background-color: #e6f9ff;
  }
  .properties{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 12pt;
  }
  .carddup{
      border:1px solid lightgray;
      margin-top: 4px;
      margin-bottom: 4px;
      padding-top: 2px;
      padding-bottom: 2px;
      background-color: dimgrey;
  }
  .resumen {
    width: 500px;
    margin: 5px;
    padding: 7px;
    border: 1px solid silver;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    background-color: white;
    color:#006080;
  }
  .proyecto {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid silver;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    background-color: white;
    color:#006080;
  }
  .proyecto::after{
    content: 'Agregar Consultor adicional aquí';
    font-size: 10px;
    display:none;
    color:white;
    background:gray;
    width: 170px;
    height: 10px;
    margin: 5px;
    padding: 5px;
  }
  .proyecto-mark {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid silver;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    background-color: #ffffcc;
    color:#006080;
  }
  .proyecto-mark::after{
    content: 'Agregar Consultor adicional aquí';
    font-size: 10px;
    color:white;
    display:block;
    background:gray;
    width: 170px;
    height: 10px;
    margin: 5px;
    padding: 5px;
  }
  a.menu_links { cursor: pointer; }
  #div1, #div2, #div4, #div5 {
    width: 200px;
    height: 235px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    vertical-align: top;
  }
  div.hist{
    width:470px;
    height: 400px;
    padding:4px;
    overflow-x:scroll;
    overflow-y:scroll;
    background-color:silver;
  }
  table.paleBlueRows {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #FFFFFF;
  
    text-align: center;
    border-collapse: collapse;
  }
  table.paleBlueRows td, table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
  }
  table.paleBlueRows tbody td {
    font-size: 10px;
  }
  table.paleBlueRows tr:nth-child(even) {
    background:  #e6e6ff
    ;
  }
  table.paleBlueRows thead {
    background: #9999ff;
    color:#FFFFFF;
    border-bottom: 5px solid #FFFFFF;
  }
  table.paleBlueRows thead th {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  table.paleBlueRows thead th:first-child {
    border-left: none;
  }
  
  table.paleBlueRows tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
  }
  table.paleBlueRows tfoot td {
    font-size: 12px;
  }
  
  .dropbtn {
    background-color: #9999ff;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #6666ff;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  /* loader  */
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  .grid-vacation {
    display: grid;
    column-gap: 1px;
    grid-template-columns: auto auto auto auto auto;
    background-color: #2196F3;
    padding: 1px;
  }
  
  .grid-vac {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 10px;
    text-align: center;
  }
  .nbvaca{
    width:180px;
  }
  .vaca {
    background-color: red;
  
  }
  .tab {
    overflow: hidden;
    border: 1px solid #333;
    background-color: #585656;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 14px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(65, 64, 64);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #333;
  }
  #tmeses{
    margin-top: 10px;
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #333;
    border-top: none;
  }
   /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
.grid-modal {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-gap: 1px;
  background-color: silver;
  padding: 1px;
}

.grid-modal > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1px;
  font-size: 30px;
}

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }